<div class="homediv">
<h2>Are you ready for....</h2><br><br>
<h1>TIC TAC TOE?!?!*</h1>
</div>

<table>
  <th>
<a href="http://www.prongo.com/tictac/" class="button">YES!!!</a>
</th>
<th>
<a href="http://www.youtube.com/watch?v=Z3ZAGBL6UBA" class="button">NO WAY!!!</a>
</th>
</table>
<br><br><br><br><br><br><br><br><br><br><br>
<h2>*Now with 80% more giant gorilla.</h2>
